<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"  th:replace="~{base::layout(~{::section})}">
<head>
<meta charset="UTF-8">
<title th:text="${title}">About Page</title>

<link rel="stylesheet" th:href="@{/css/loginstyle.css}">
</head>
<body  >

<section>

    <div id="login">
        <h3 class="text-center text-white pt-5">     </h3>
        <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box" class="col-md-12">
                    
                    
  <!--Message Alert  -->


<div th:if="${session.message}"    class="alert" >

 <p class="text-center" th:text="${session.message.content}">   </p>
 
<!--  <th:block  th:text="${#session.removeAttribute('message')}"></th:block>   -->  

<!--  sessionHelper class    to remove session Attribute     -->            
 <th:block th:text="${@sessionHelper.removeMessageFromSession()}"></th:block>
</div>
  
                


     
                    
                    
                        <form  class="form"   th:action="@{/sendotp}" method="post">
                            <h3 class="text-center text-info">Forgot Password</h3>
                            
                           
                           
                            <div class="form-group">
                                <label for="email" class="text-info">Enter Registered Email</label><br>
                                <input  placeholder="Enter Registered Email Here "  required="required" type="text" name="email" id="email" class="form-control">
                            </div>
                            
                            
                            <div class="container text-center">
                            
                            <button  class="btn btn-warning">send OTP</button>
                            </div>
                            
                          
                        </form>
                        
                        
                            <div id="register-link" class="text-right">
                                <a      th:href="@{/signup}"        href="#" class="text-info">Register here</a>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
    
</section>
</body>
</html>